body {
    font: var(--12-regular);
    margin: 0;
    padding: 0 0;
}
html {
    box-sizing: border-box;
}

.wrapper {
    padding-top: 16px;
}

.header {
    font: var(--12-bold);
    margin-bottom: 16px;
}